<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>PRODUCTS</h1>
    {{lenght}} <br><br>
    {% for i in product%}
    <p>{{i.name}}<br>
        {{i.price}}<br>
        {{i.amount}}<br>
        {{i.disc}}<br>
        {{i.description}}<br>
        {{i.inStock}}<br>
        {{i.date}}<br>
        <img src="/media/{{i.image}}">

    </p>
    
    {% endfor %}
    
</body>
</html>